{% extends 'index.html' %}

{% block game %}
    <div class="game">
        <div>
            <input class="gamebox" placeholder="{{ num[0] }}">
            <input class="gamebox margin" placeholder="{{ num[1] }}">
            <input class="gamebox margin" placeholder="{{ num[2] }}">
            <input class="gamebox margin" placeholder="{{ num[3] }}">
        </div>
        <div class="top">
            <input class="gamebox" placeholder="{{ num[4] }}">
            <input class="gamebox margin" placeholder="{{ num[5] }}">
            <input class="gamebox margin" placeholder="{{ num[6] }}">
            <input class="gamebox margin" placeholder="{{ num[7] }}">
        </div>
        <div class="top">
            <input class="gamebox" placeholder="{{ num[8] }}">
            <input class="gamebox margin" placeholder="{{ num[9] }}">
            <input class="gamebox margin" placeholder="{{ num[10] }}">
            <input class="gamebox margin" placeholder="{{ num[11] }}">
        </div>
        <div class="top">
            <input class="gamebox" placeholder="{{ num[12] }}">
            <input class="gamebox margin" placeholder="{{ num[13] }}">
            <input class="gamebox margin" placeholder="{{ num[14] }}">
            <input class="gamebox margin" placeholder="{{ num[15] }}">
        </div>
    </div>
{% endblock %}