{% extends 'index.html' %}

{% block game %}
    {% block status %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        function changeColor(btn, id) {
            let game_id;
            game_id = {{ game_id.id }};
            $.ajax({
                url: "/update",
                type: "POST",
                data: {'game_id': game_id, 'button_id': id, 'name': 'people'},
                dataType: "json",
                success: function (data) {
                    console.log(data)
                    if (data['data'] === "1") {
                        btn.classList.add("USD");
                    }
                    else if (data['data'] === "2") {
                        btn.classList.add("diamond");

                    }
                    if (data['game'] === 1) {
                        document.getElementById("p1").classList.toggle("status_hw");
                        document.getElementById("p1").innerHTML = "Вы выиграли";
                    }
                    else if (data['game'] === 0){
                        document.getElementById("p1").classList.toggle("status_hw");
                        document.getElementById("p1").innerHTML = "Вы проиграли";
                    }
                    document.getElementById("money").innerHTML = "Ваш выигрыш: " + data['cash'] + " $";
                }
            });
        }
    </script>


    <div class="game">
        <div>
            <button onclick="changeColor(this, 0)" class="gamebox"></button>
            <button onclick="changeColor(this, 1)" class="gamebox margin"></button>
        </div>
        <div class="top">
            <button onclick="changeColor(this, 2)" class="gamebox"></button>
            <button onclick="changeColor(this, 3)" class="gamebox margin"></button>
        </div>
        <div id="p1" class="status"></div>
    </div>

{% endblock %}