{% extends 'index.html' %}

{% block game %}
    <div class="game">
        <div>
            <input class="gamebox" placeholder="{{ num[0] }}">
            <input class="gamebox margin" placeholder="{{ num[1] }}">
            <input class="gamebox margin" placeholder="{{ num[2] }}">
        </div>
        <div class="top">
            <input class="gamebox" placeholder="{{ num[3] }}">
            <input class="gamebox margin" placeholder="{{ num[4] }}">
            <input class="gamebox margin" placeholder="{{ num[5] }}">
        </div>
        <div class="top">
            <input class="gamebox" placeholder="{{ num[6] }}">
            <input class="gamebox margin" placeholder="{{ num[7] }}">
            <input class="gamebox margin" placeholder="{{ num[8] }}">
        </div>
    </div>
{% endblock %}